name: Predefined function
on: 
   push:
    
   workflow_dispatch:
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - id: step1
        run: "echo test=hello >> $GITHUB_OUTPUT"
      - name: step2
        if: contains(steps.step1.outputs.test, 'hello')
        run: echo "hello seems to be present in GITHUB_OUTPUT"
      - name: step3
        if: contains(steps.step1.outputs.test, 'bye')
        run: echo "bye is missing from GITHUB_OUTPUT
      - name: step4
        run: echo ${{ steps.step1.outputs.test }}
